In [54]:
import pandas as pd
import numpy as np

In [23]:
netflix = pd.read_csv('./netflix_titles.csv')
imdb = pd.read_csv('./netflix_imdb.csv')

In [11]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [33]:
imdb_join = imdb[['Title', 'Imdb Score']]
imdb_join.columns = ['title', 'Imdb']

In [ ]:
imdb_join['IMDB'] = imdb_join.Imdb.str.extract(r'(\d+.\d+)')
del imdb_join['Imdb']

In [40]:
imdb_join.head()

                           title    Imdb IMDB
0                       (Un)Well  6.6/10  6.6
1                         #Alive  6.2/10  6.2
2  #AnneFrank - Parallel Stories  6.4/10  6.4
3                       #blackAF  6.6/10  6.6
4               #cats_the_mewvie  5.1/10  5.1

In [43]:
data_join = pd.merge(left=netflix, right=imdb_join, how='left', on='title')

In [44]:
data_join.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",7.4
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",6.3
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN

In [46]:
data_join['IMDB'].isnull().sum()

3555

In [51]:
data_join['first_country'] = data_join.country.str.extract(r'([a-zA-Z\s]+)')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB,first_country
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",7.4,United States
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",6.3,South Africa
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,India

In [52]:
data_join

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,IMDB,first_country
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",7.4,United States
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",6.3,South Africa
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,NaN,NaN
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",NaN,NaN
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,NaN,India
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8872,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",NaN,United States
8873,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",NaN,NaN
8874,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,7.7,United States
8875,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",NaN,United States
8876,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,NaN,India

In [57]:
data_join.to_csv('Netflix_SBShim_07261.csv')

In [56]:
print(data_join == 'all')

      show_id   type  title  director   cast  country  date_added  \
0       False  False  False     False  False    False       False
1       False  False  False     False  False    False       False
2       False  False  False     False  False    False       False
3       False  False  False     False  False    False       False
4       False  False  False     False  False    False       False
...       ...    ...    ...       ...    ...      ...         ...
8872    False  False  False     False  False    False       False
8873    False  False  False     False  False    False       False
8874    False  False  False     False  False    False       False
8875    False  False  False     False  False    False       False
8876    False  False  False     False  False    False       False

      release_year  rating  duration  listed_in  description   IMDB  \
0            False   False     False      False        False  False
1            False   False     False      False        False  False
2            False   False     False      False        False  False
3            False   False     False      False        False  False
4            False   False     False      False        False  False
...            ...     ...       ...        ...          ...    ...
8872         False   False     False      False        False  False
8873         False   False     False      False        False  False
8874         False   False     False      False        False  False
8875         False   False     False      False        False  False
8876         False   False     False      False        False  False

      first_country
0             False
1             False
2             False
3             False
4             False
...             ...
8872          False
8873          False
8874          False
8875          False
8876          False

[8877 rows x 14 columns]

In [53]:
# def genere(what):
#     if what == 'all':
#         genere = df.listed_in.value_counts()
#     else:
#         genere = df[df['type'] == what].listed_in.value_counts()
#     gener = {}
    
#     for idx, val in genere.items():
#         l = idx.split(',')
#         for i in l:
#             i = i.strip()
#             if i in gener.keys():
#                 d = {}
#                 d[i] = val + gener[i]
#                 gener.update(d)
#             else:
#                 d = {i:val}
#                 gener.update(d)
#     theme, count = [],[]
    
#     for idx, val in gener.items():
#         theme.append(idx)
#         count.append(val)
    
#     list_temp = (pd.DataFrame({'genere':theme, 'count': count})
#         .sort_values('count', ascending = True))
#     list_temp.reset_index(drop = True, inplace = True)
    
#     return list_temp

In [ ]:
# def genere_year(what):
#     if what == 'all':
#         genere_year = df[['year', 'listed_in']].value_counts()
#     else:
#         genere = df[df['type'] == what].listed_in.value_counts()
#     gener = {}
    
#     for idx, val in genere.items():
#         l = idx.split(',')
#         for i in l:
#             i = i.strip()
#             if i in gener.keys():
#                 d = {}
#                 d[i] = val + gener[i]
#                 gener.update(d)
#             else:
#                 d = {i:val}
#                 gener.update(d)
#     theme, count = [],[]
    
#     for idx, val in gener.items():
#         theme.append(idx)
#         count.append(val)
    
#     list_temp = (pd.DataFrame({'genere':theme, 'count': count})
#         .sort_values('count', ascending = True))
#     list_temp.reset_index(drop = True, inplace = True)
    
#     return list_temp